<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>访客登记</title>
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/laydate.js"></script>
</head>
<body class="visitor">
<img src="/css/images/logo2.png" class="logo" width="100%">
<div class="information">
    访客登记
    <form class="form">
        姓名<input type="text" name="name" placeholder="请输入您的姓名" class="input">
        电话<input type="text" name="tel" placeholder="请输入您的电话号码" class="input">
        探访房间号<input type="text" name="room" placeholder="请输入您的探访房间号" class="input">
        <button class="save">保存</button>
    </form>
</div>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/visitorReg.js">
</script>
</body>
</html>