<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>爱瑞馨母婴护理中心-数据中心</title>
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/laydate.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/managerData.js"></script>
</head>
<body>
	<ul class="right">
        <li>
            <div class="header">
                <span class="marr">添加顾问</span>
            </div>
            <div class="addcustomer">
                <form class="addvisit">
                    <div class="input">
                        姓名：<input type="text" name="name" class="kuan">
                        账号：<input type="text" name="tel" class="kuan" placeholder="请用手机号码注册"> 密码：<input type="text" name="password" class="kuan" placeholder="设置6位数密码">
                    </div>
                    <button class="save click">添加</button>
                </form>
            </div>
        </li>
    </ul>
</body>
<script src="/js/visitorReg.js"></script>
</html>