<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>爱瑞馨母婴护理中心-顾问的更改密码</title>
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/laydate.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/managerData.js"></script>
</head>
<body>
	<ul class="right">
		<li>
            <div class="header">
                <span class="marr">更改密码</span>
            </div>
            <div class="addcustomer">
                <form class="addvisit">
                    <div class="input">
                        设置新密码：<input type="password" name="password" class="kuan">
                         再次输入码：<input type="password" name="re_password" class="kuan" >
                    </div>
                    <button class="save click" id="edit">确认</button>
                </form>
            </div>
        </li>
    </ul>
    <script type="text/javascript" src="/js/visitorReg.js">

    </script>
</body>
</html>