<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>爱瑞馨母婴护理中心-数据中心</title>
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/laydate.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/managerData.js"></script>
</head>
<body>
	<ul class="right">
		<!--7  一 数据的 详情 -->
        <li>
            <div class="header">
                <span class="marr"><a href="{:url('Index/data')}" class="click">数据中心</a>><a href="{:url('Index/adminList')}" class="click">业绩查询</a>>详情</span>
                <div class="shaixuan">
                    <img src="/css/images/calendar.png">
                    <span class="search">
                        <input type="text" name="" placeholder="输入姓名" class="name">
                        <img src="/css/images/search.png" class="click" id="detailTime">
                    </span>
                </div>
            </div>
            <table class="detail">
                <tr>
                    <td>姓名</td>
                    <td>电话</td>
                    <td>预产期</td>
                    <td>生产医院</td>
                    <td>预约参观时间</td>
                    <td>地址</td>
                    <td>预定房型</td>
                    <td>签约时间</td>
                    <td>预定房号</td>
                    <td>签约金额</td>
                    <td>预缴金额</td>
                    <td>未付尾款</td>
                    <td>客户来源</td>
                </tr>
                <?php foreach($members as $member):?>
               <tr>
                    <td>{$member['username']}</td>
                    <td>{$member['tel']}</td>
                    <td>{$member['yuchanqi']}</td>
                    <td>{$member['hospital']}</td>
                    <td>{$member['visit_time']}</td>
                    <td>{$member['address']}</td>
                    <td>{$member['ras']}</td>
                    <td>{$member['time']}</td>
                    <td>{$member['brn']}</td>
                    <td>{$member['money']}</td>
                    <td>{$member['prepay_money']}</td>
                    <td>{$member['unpaid_money']}</td>
                    <td>{$member['source']}</td>
               </tr>
                <?php endforeach;?>
            </table>
        </li>
    </ul>
    <script type="text/javascript">
        laydate.render({
            elem: '#detailTime',
            festival: true, //显示节日
            choose: function(datas){ //选择日期完毕的回调       
            }
        });
    </script>
</body>
</html>